.header {
  margin-top: 45px;
  border-bottom: solid 1px #545454;
}

.header__logo {
  width: 173px;
  height: 33px;
  padding-bottom: 45px;
}

@media screen and (max-width: 480px) {
  .header {
    margin-left: 27px;
    margin-top: 28px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 126px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 167px;
  }
}
